body {
	font-family: arial,sans-serif;
}

.head {
	border-bottom: thin solid #9999996e;
	padding-bottom: 0.5rem;
}

.main_input {
	width: 50%;
	margin: 5px auto;
	border-radius: 30px;
	border: thin solid #9999996e;
	height: 2em;
	padding: 1.35rem;

}

.search-bar {
	margin-top: -15px;
	color: #9999996e;
}

.search-icon {
	margin-left: 5px;
}

.main_input input[type=text] {
	position: relative;
	background: #fff;
	border: none;
	outline: none;
	line-height: 1.5rem;
}

.search-tab {
	margin: 10px 180px 5px;
	display: flex;
	flex-direction: row;
}

.search-tab a {
	color: #5f6368;
	text-decoration: none;
	cursor: pointer;
}

.search-tab small {
	margin-right: 30px;
}

.more-inline-space {
	margin-left: 90px;
}

small i {
	margin-right: 5px;
}

#mbody {
	margin: 10px 100px 5px 180px;
	font-size: 14px;
	color: #70757a;'
	width: 20%;
}

.search-head a {
	text-decoration: none;
	color: #202124;
}

.search-head span {
	color: #70757a;
}

.search-head a:hover {
	text-decoration: none;
	color: initial;
}